<div class="container home">
	<div class="row">
		<div class="col-md-3 pull-right">
			<h3>Our Unique Culinary Creations</h3>
		</div>
		<div class="col-md-9">
			<h2>Fichipizza</h2>
			<p>A unique combination of Mediterranean and Italian pizza, topped with Mascarphone, proscuitto, figs, grando panado, honey and arugula.</p>
			<p><a href="#">More &raquo;</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h3>This Month's Promotions</h3>
		</div>
		<div class="col-md-9">
			<h2>Weekend Grand Buffet</h2>
			<p>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person </p>
			<p><a href="#">More &raquo;</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 pull-right">
			<h3>Meet our Culinary Specialists</h3>
		</div>
		<div class="col-md-9">
			<h2>Tommy McHugh</h2>
			<h4>Executive Chef</h4>
			<p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Mediterranean-Italian experiences. </p>
			<p><a href="#">More &raquo;</a></p>
		</div>
	</div>
</div>

<!-- As requested, we're displaying the menu here -->
<scotia-restaurant-menu></scotia-restaurant-menu>